body{
    background: rgb(238,238,238);
    display: flex;
    align-items: center;
    margin: 0;
    height: 100vh;
}
.container{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}
img{
    flex: 0 0 15%;
    box-shadow: 0px 0px 15px 0px black;
}
img:first-of-type + img{
    flex: 0 0 40%;
}
